# Ignore files in the Gui folder
Gui/
class WOrk/
__pycache__/
# Ignore files in the .idea folder
.idea/
temp/
ztest.py
ztest2.py
tempCodeRunnerFile.py
ztemp_shanu.py
# Default ignored files
/shelf/
/workspace.xml
